<!DOCTYPE html>
<html>
    <head>
        <h1>News Summarization</h1>
        <h2>Using BERT</h2>
        <main>
            <p>
                This model generates an Abstractive summary on any given topic. You can upload a file, paste a link, or enter text to generate a summary. The model being used here is BERT. BERT, which stands for Bidirectional Encoder Representations from Transformers, is based on Transformers, a deep learning model in which every output element is connected to every input element, and the weightings between them are dynamically calculated based upon their connection. (In NLP, this process is called attention.)
            </p>
        </main>
    </head>
    <body>

    </body>
</html>