{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <style>
            body{
                margin: 25px;
            }
            .gray-text{
                color:black
            }
            p{
                font-size: 16px;
                text-align: justify;
            }
            #wrapper, img{
                width: 100%;
                height: 80%;
            }
            .spacing{
                margin-top: 15px;
                margin-bottom: 15px;
            }
            .button{
                margin-bottom: 15px;
            }
        </style>
        <h1 id="news summarization" style="text-align: center;">News Summarization</h1>
        <h2 id = "bert" class = "gray-text" style="text-align: center;">Using <a href = "https://arxiv.org/abs/1810.04805" target = "_blank">BERT</a></h2>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <div id = "wrapper">
            <img id = "image" src = 'static\news_summarization\Google-News-Lab-Header.png.crdownload'>
        </div>
        <p id = "introduction">
            This model generates an Abstractive summary on any given topic. You can upload a file, paste a link, or enter text to generate a summary. The model being used here is BERT. BERT, which stands for Bidirectional Encoder Representations from Transformers, is based on Transformers, a deep learning model in which every output element is connected to every input element, and the weightings between them are dynamically calculated based upon their connection. In NLP, this process is called attention.
        </p>
    </head>
    <body>
    <main>
        
        <ul>
            <li><a href = "#file">Upload a file</a></li>
            <li><a href = "#url">Enter an URL</a></li>
            <li><a href = "#text">Enter text</a></li>
        </ul>
        
        <file id = "file"><h3>Upload your file in Word/PDF format here</h3></file>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group spacing">
                <input type="file" class="form-control-file" id="myFile" name="myFile" required>
            </div>
            <button type = "submit" class="btn btn-primary btn-sm button">Submit</button>
        </form>
        {% if uploaded_file_url %}
        <p>
            File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a>
        </p>
        {% endif %}

        <url id = "url"><h3>Paste your weblink here</h3>
            <form>
                <div class="input-group mb-3 spacing">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="url">URL</span>
                    </div>
                    <input type="text" class="form-control" id="url" aria-describedby="url">
                </div>
                <button type = "submit" class="btn btn-primary btn-sm button">Submit</button>
            </form>
        </url>

        <text id = "text"><h3>Enter your text here</h3>
            <form>
                <div class="form-group spacing">
                    <textarea class="form-control" id="text" rows="3"></textarea>
                </div>
                <button type = "submit" class="btn btn-primary btn-sm button">Submit</button>
            </form>
        </text>
    </main>
    </body>
</html>
{% endblock %}